.product-list {
  display: flex;
}

.product {
  flex-basis: calc(33.33% - 2rem);
  position: relative;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-name {
  left: 0;
  right: 0;
  text-align: center;
}
